    <!-- Footer -->
<footer class="page-footer font-small bg-dark pt-5 mt-5">

  <!-- Footer Elements -->
  <div class="container">
	
    <!-- Social buttons -->
    <p class="text-warning font-weight-bold text-left">
		In case of trying to reach out or having any suggestions, please contact us on: 
	  </p>
<div>
	
	    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
		      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" href="mailto:nasser.alharbi001@gmail.com">
          <i class="fas fa-envelope text-warning" > </i>
        </a>
				  <!-- <a type="button" class="fas fa-envelope text-warning" data-toggle="popover" title="Popover title" data-content="Please send at nasser.alharbi001@gmail.com, for now."></a> -->

	
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1" href="#">
          <i class="fab fa-facebook-f text-warning"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1 text-warning" href="#">
          <i class="fab fa-twitter text-warning"> </i>
        </a>
      </li>



   
    </ul>
    <!-- Social buttons -->
	  </div>
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center pb-3 text-info">© 2020 Copyright:
    <a href="/" class="text-info"> HistoMate.com (not really)</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->






<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- FILEPOND ADDONS  -->
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
<!-- MUST BE LAST FILEPOND -->
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>


  <script>
	  FilePond.registerPlugin(FilePondPluginImagePreview, FilePondPluginFileEncode, FilePondPluginImageResize);
	  
	  FilePond.setOptions({
  allowMultiple: true,
	
	stylePanelAspectRatio: 0.8,
  imageResizeTargetWidth: 100,
  imageResizeTargetHeight: 150
  
});
  		FilePond.parse(document.body); 
  </script>


</body>
</html>