<%- include("../partials/header") %>
s



<H1 class="text-center">
	MSK: Choose Subjects
</H1>



<div class="container">
  <div class="row align-items-start" >
   
	   <div class="col text-center" >
      <img src="https://media.discordapp.net/attachments/375319053184663554/695739608289509426/Micro.png?width=875&height=671" class="img-fluid" alt="Responsive image" style="height: 300px; width: 290;" >  <a href="/MSK/micro" class="btn btn-primary stretched-link text-center">Microbiology</a> 
    </div>
	 
	      <div class="col text-center">
		<img src="https://cdn.discordapp.com/attachments/375319053184663554/695743781894488114/55462239-stock-vector-mri-scan-and-diagnostics-health-and-care-vector-concept-diagnostic-mri-patient.png" class="img-fluid" alt="Responsive image" style="height: 300px; width: 290;">
      <a href="/blocks" class="btn btn-primary stretched-link text-center">Imaging</a>
    </div>
    
    <div class="col text-center">
      <img src="https://media.discordapp.net/attachments/375319053184663554/695745243425013820/unknown.png?width=740&height=671" class="img-fluid" alt="Responsive image" style="height: 300px; width: 290;"> <a href="/blocks" class="btn btn-primary stretched-link text-center">Pathology</a> 
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col text-center">
      <img src="https://media.discordapp.net/attachments/375319053184663554/695739596297732096/Histology.png?width=679&height=671" class="img-fluid" alt="Responsive image" style="height: 300px; width: 290;">
	<a href="/blocks" class="btn btn-primary stretched-link text-center">Histology</a>
    </div>

	 <div class="col text-center">
      <img src="https://i.pinimg.com/originals/10/13/84/1013841bfe35d89c90038ba8c526aba3.gif" class="img-fluid" alt="Responsive image" style="height: 300px; width: 290;"> <a href="/blocks" class="btn btn-primary stretched-link text-center">Cytology</a> 
    </div> 
	  
	  
    <div class="col text-center">
      
		<img src="https://cdn.discordapp.com/attachments/375319053184663554/695747038771413102/unknown.png" class="img-fluid" alt="Responsive image" style="height: 300px; width: 290;">
		<a href="/blocks" class="btn btn-primary stretched-link text-center">Clinical Tests</a> 
    </div>
  </div>
  
</div>

<%- include("../partials/footer") %>