<%- include("partials/header") %>


<div class="container pt-3">
  <h1 class="display-4 text-info pb-2">What is HistoMate? (Name subject to change)</h1>
  <p class="lead text-info font-weight-bold">
	  It is a learning management system (LMS) (currently underdevelopment), where users could teach and learn all the visual materials and slides in medicine and healthcare. Using HistoMate, Instructors could create learning sets and share them with their students to increase the learning process quality.</p>
</div>
<div class="container pt-5 pb-2">
  <h1 class="display-4 text-info">What features will be added in the future?</h1>
  <p class="lead text-info font-weight-bold">We are currently planing on developing the following:

	</p>
	<ul class="list-group ">
  <li class="list-group-item bg-dark text-warning ">Allow the instructors to fetch actual materials from a connected hospital's library.</li>
		<li class="list-group-item bg-dark text-warning">"Annotation" function where instructors could mark the slides they put in the sets and link it to keywords in the explanation.</li>
  <li class="list-group-item bg-dark text-warning">"Test Yourself" function where studnets could access sets and have the option to identify slides relative to the ones in the sets.</li>
  <li class="list-group-item bg-dark text-warning">"Gamification"</li>
  
  <li class="list-group-item bg-dark text-warning">Design structor for holding exams and quizes using uploaded materials or fetched from the library.</li>
</ul>
</div>

<div class="container pt-5">
  <h1 class="display-4 text-info">Our Vision</h1>
  <p class="lead text-info font-weight-bold">We aim for HistoMate to be integrated into universities curriculms across the world and to be linked with various hospitals to supply the required virtual materials.
  </p>
	<p class="lead text-info font-weight-bold">
		
	  Strive for great education, for us all to have a better tomorrow!
	</p>
</div>



<%- include("partials/footer") %>