<%- include("partials/header") %>




<H1 class="text-center">
	System Blocks
</H1>



<div class="container">
  <div class="row align-items-start" >
   
	   <div class="col text-center" >
      <img src="https://citytoday.news/wp-content/uploads/2017/10/heart_health.jpg" class="img-fluid" alt="Responsive image" style="height: 300px; width: 290;" >  <a href="/cardioSets" class="btn btn-primary stretched-link text-center">Cardiovascular</a> 
    </div>
	 
	      <div class="col text-center">
		<img src="https://www.pngkit.com/png/detail/61-617794_brain-clipart-transparent-background-brain-clipart.png" class="img-fluid" alt="Responsive image" style="height: 300px; width: 290;">
      <a href="/blocks" class="btn btn-primary stretched-link text-center">Neurology</a>
    </div>
    
    <div class="col text-center">
      <img src="https://png.pngtree.com/png-vector/20191214/ourlarge/pngtree-human-lungs-anatomy-vector-illustration-on-white-background-png-image_2074510.jpg" class="img-fluid" alt="Responsive image" style="height: 300px; width: 290;"> <a href="/blocks" class="btn btn-primary stretched-link text-center">Respiratory</a> 
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col text-center">
      <img src="https://st2.depositphotos.com/1763191/9163/v/950/depositphotos_91639428-stock-illustration-red-and-white-blood-cells.jpg" class="img-fluid" alt="Responsive image" style="height: 300px; width: 290;">
	<a href="/blocks" class="btn btn-primary stretched-link text-center">Hematology/Oncology</a>
    </div>"

	 <div class="col text-center">
      <img src="https://image.shutterstock.com/image-illustration/cartoon-male-skeleton-anatomy-chart-260nw-739298446.jpg" class="img-fluid" alt="Responsive image" style="height: 300px; width: 290;"> <a href="/blocks" class="btn btn-primary stretched-link text-center">Musculoskeletal</a> 
    </div> 
	  
	  
    <div class="col text-center">
      
		<img src="https://as1.ftcdn.net/jpg/02/47/01/62/500_F_247016272_q2LAni9Y3MauAB51ewXnVkqASIR9NjX4.jpg" class="img-fluid" alt="Responsive image" style="height: 300px; width: 290;">
		<a href="/blocks" class="btn btn-primary stretched-link text-center">Endocrine</a> 
    </div>
  </div>
  <div class="row align-items-end" >
    <div class="col text-center">
		<img src="" class="img-fluid" alt="Responsive image">
      One of three columns
    </div>
    <div class="col text-center">
		<img src="" class="img-fluid" alt="Responsive image">
      One of three columns
    </div>
    <div class="col text-center">
		<img src="" class="img-fluid" alt="Responsive image">
      One of three columns
    </div>
  </div>
</div>

<%- include("partials/footer") %>